<%= react_component("Header", { name: "Francisco." }) %>
<div>
<div class="mt-20">
  <p class="text-center text-7xl">Acessar Funimation.</p>
  <p class="text-center text-5xl">Digite seu e-mail e senha para acessar sua conta.</p>
</div>

<div class="card items-center h-72 mt-20 form-control">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="input-group">
     <%= f.label :email, class:"label" %>
     <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
   </div>

  <div class="input-group">
    <%= f.label :password, class:"label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
  </div>

  <div class="input-group mt-10">
    <%= f.submit "Log in", class: "btn btn-error" %>
  </div>
<% end %>
</div>
<div class="card items-center mr-20">
<%= render "devise/shared/links" %>
</div>
</div>
<%= react_component("Footer", { name: "Francisco." }) %>
